uvloop
profilehooks
python-chess
appnope
bleach
click
cycler
decorator
entrypoints
h5py
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Markdown
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
nose
notebook
numpy
pandocfilters
parso
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
qtconsole
scipy
simplegeneric
six
tensorflow
tensorflow-tensorboard
terminado
testpath
tornado
traitlets
wcwidth
Werkzeug
widgetsnbextension
